.nav{
    box-shadow: 0px 3px 2px rgb(185, 183, 183);
    color: rgb(185, 16, 16);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    height: 5rem;
}

.navHeader{
    text-transform: uppercase;
    color: rgb(185, 16, 16);
}

.navHeaderLink{
    color: rgb(185, 16, 16);
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
}
.navHeaderLink:hover{
    text-decoration: underline;
}
